html,
body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background-color: #ececec;
}

.piano-container {
  display: flex;
  gap: -8px;
  height: 400px;
}

.note {
  --offset: 8px;

  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: 200ms;
  box-shadow: calc(-1 * var(--offset)) var(--offset) 0 black;
  user-select: none;
}

.note.white {
  width: 100px;
  height: 100%;
  color: black;
  background-color: white;
}

.note.white:nth-child(1) {
  z-index: 8;
}
.note.white:nth-child(3) {
  z-index: 7;
}
.note.white:nth-child(5) {
  z-index: 6;
}
.note.white:nth-child(6) {
  z-index: 5;
}
.note.white:nth-child(8) {
  z-index: 4;
}
.note.white:nth-child(10) {
  z-index: 3;
}
.note.white:nth-child(12) {
  z-index: 2;
}

.note.black {
  --offset: 4px;

  width: 80px;
  height: 66.66%;
  margin-left: -40px;
  margin-right: -40px;
  z-index: 12;
  background-color: black;
  color: white;
}

.note:hover:active {
  box-shadow: 0 0 0;
  transform: translate(calc(-1 * var(--offset)), var(--offset));
}
